@import "import_style/w3.css";
@import "mport_style/cloudfare.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}

img {
	margin-bottom: 60px;
}

.bold {
	font-weight: bold;	
}

.paragraf {
	display: inline;
	text-indent: 100px;
}