@import "import_style/w3.css";
@import "mport_style/cloudfare.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}

img {
	margin-bottom: 60px;
}

.bold {
	font-weight: bold;	
}

.paragraf {
	color: #424F6E;
	padding: 5px 5px 5px 5px;
}

#clip {
  background-image: url('media/vektori/clip.svg');
  background-repeat: no-repeat;
}

#zarulja {
  background-image: url('media/vektori/zarulja.svg');
  background-repeat: no-repeat;
}

#baza {
  background-image: url('media/vektori/baza.svg');
  background-repeat: no-repeat;
}

#git {
  background-image: url('media/vektori/git.svg');
  background-repeat: no-repeat;
}

#oblak {
  background-image: url('media/vektori/oblak.svg');
  background-repeat: no-repeat;
}

#strelica {
  background-image: url('media/vektori/strelica.svg');
  background-repeat: no-repeat;
  font-size: 35px;
  position: fixed;
  margin: 50px 50px 50px 50px;
}

.kvacica {
  list-style-image: url('media/vektori/kvacica.svg');
  font-size: 60px;
}

.crtica {
  list-style-image: url('media/vektori/crtica.svg');
  font-size: 60px;
}

.povecalo {
  list-style-image: url('media/vektori/povecalo.svg');
  font-size: 60px;
}

li p {
	font-size: 25px;
	color: #424F6E;
}

a:link { 
	text-decoration: none;
	font-weight: bold;
 }

a:visited { 
	text-decoration: none; 
	font-weight: bold;
}

a:hover { 
	text-decoration: none; 
	font-weight: bold;
}

a:active { 
	text-decoration: none; 
	font-weight: bold;
}

